Sawyer X <xsawyerx@cpan.org> sawyer <sawyer@eggplant.(none)>
Sawyer X <xsawyerx@cpan.org> sawyer <sawyer@potato.(none)>
Miss Ferret <missferret@gmail.com> Miss Ferret <missferret@potato.(none)>
Rich Bowen <rbowen@rcbowen.com> Rich Bowen <rbowen@Rocinante.local>

