a:link, a:visited {
	color: #e7800e;
}

a:hover, a:active {
	color: #000000;
}

#navcontainer #current {
	background: url(../../images/button_over.png) repeat-x left top;
}

#navcontainer .currentAncestor {
	background: url(../../images/button_over.png) repeat-x left top;
}

#navcontainer a:hover {
	background: url(../../images/button_over.png) repeat-x left top;
}

#navcontainer ul ul {
	border-bottom: 3px solid #e9932f;
}

#navcontainer ul ul a:hover{
	color: #ffd590;
}

#navcontainer ul ul #current{
	color: #ffd590;
}

#navcontainer ul ul .currentAncestor {
	color: #ffd590;
	background: url(../../images/sub_button.png) repeat;
}

html>body #navcontainer ul ul .currentAncestor {
	background: repeat url(../../images/sub_button_trans.png);
}

.movie-background {
	margin: 10px;
}