body {
    text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    margin: 0px;
    padding: 0;
    white-space: pre;
}

p {
}

b, strong {
}

a:link {
    color: #0000ff;
    text-decoration: underline;
}

a:visited {
    color: #681796;
}

a:hover, a:active {
    text-decoration: none;
    background: #0000ff;
    color: #ffffff;
}

img {
    max-width: 99%;
}

#container {
    background: #ffffff;
    background-image: none;
    width: 100%;
}

#pageHeader {
    height: auto;
    text-align: left;
    margin-bottom: 8px;
    background: #000000;
    padding: 3px;
    border-bottom: solid #191919 2px;
}

#pageHeader img {
    position: relative;
    top: auto;
    right: auto;
}

#pageHeader h1 {
    color: #ffffff;
    font-size: 1.3em;
    margin: 0 0 5px;
    padding-top: 0px;
    font-weight: bold;
}

#pageHeader h2 {
    font-size: 1.1em;
    margin: 0;
    color: #ffffff;
    font-weight: normal;
}

#contentContainer {
    margin: 0px;
    display: block;
    width: auto;
}

#contentContainer #content {
    margin: 0;
    padding: 0;
}

#sidebarContainer {
    float: none;
    width: auto;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #808080;
}

#sidebarContainer #sidebar {
    margin: 0;
    padding: 0px;
}

#sidebarContainer .sideHeader {
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

#footer {
    width: auto;
    text-align: left;
    padding: 0px;
    margin: 0;
}

#footer p {
}

#footer a:link, #footer a:visited {
}

#footer a:hover, #footer a:active {
}

blockquote {
    margin: 0;
    padding: 5px;
    font-weight: bold;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}
