body {
    color: #333333;
    font: 0.75em/1.8em Helvetica, Arial, sans-serif;
    margin: 0 20px 20px;
    text-align: center;
    padding: 0;
}

p {
}

b, strong {
}

a:link, a:visited {
    color: #e7800e;
}

a:hover, a:active {
    color: #000000;
}

img {
    border: none;
}

#container {
    background: #ffffff repeat-y left;
    margin: 0px auto; /* Right And Left Margin Widths To Auto */
    text-align: left; /* Hack To Keep IE5 Windows Happy */
    border-right: 1px solid #a0a9a7;
    border-left: 1px solid #a0a9a7;
    border-bottom: 1px solid #a0a9a7;
    position: relative;
    width: auto;
    font-family: serif;
    font-size: 12pt;
}

#pageHeader {
    background: #6b7b91;
    border-bottom: 2px solid #818fa1;
    padding: 10px 10px;
    position: relative;
    margin-top: -1px;
    margin-bottom: -1px;
    z-index: 0;
}

#pageHeader img {
    position: absolute;
    left: 10;
    top: 0;
}

#pageHeader h1 {
    color: #ffffff;
    font-size: 2.5em;
    letter-spacing: 1px;
    margin: 0 0 5px;
}

#pageHeader h2 {
    color: #b5bdc8;
    font-size: 0.9em;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 5px;
    padding: 0px;
}

#contentContainer {
    margin-left: 200px;
    margin-right: 0px;
    position: relative;
    z-index: 99;
}

#contentContainer #content {
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 10px;
}

#sidebarContainer {
    position: relative;
    margin-right: 10px;
    z-index: 100;
    float: left;
    width: 20%;
}

#sidebarContainer #sidebar {
    padding: 10px;
    color: #505050;
    font-family: sans-serif;
    background: #d5dfd6;
}

#sidebarContainer .sideHeader {
    background: #d5dfd6;
    color: #797f7a;
    font-weight: bold;
    height: 20px;
    padding-left: 0px;
}

#footer {
    border-top: 1px solid #eeeeee;
    margin-top: 20px;
    color: #909090;
}

#footer p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer a:link, #footer a:visited {
}

#footer a:hover, #footer a:active {
}

blockquote {
    color: #96a7bb;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

h1 {
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;
}

h4 {
    font-family: sans-serif;
}

/* Main content area unordered list styles */
#contentContainer #content ul {
}

#contentContainer #content li {
}

/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
    margin: 0px;
    padding: 0 10px;
    list-style: none;
}

#sidebarContainer #sidebar li {
}

/* Table Styles */
pre, code {
    font: fixed;
    color: blue;
}
