body {
    color: #333333;
    font: 0.75em/1.8em Helvetica, Arial, sans-serif;
    margin: 0 20px 20px;
    text-align: center;
    padding: 0;
}

p {
}

b, strong {
}

a:link, a:visited {
    color: #e7800e;
}

a:hover, a:active {
    color: #000000;
}

img {
    border: none;
}

#container {
    background: #ffffff repeat-y left;
    margin: 0px auto; /* Right And Left Margin Widths To Auto */
    text-align: left; /* Hack To Keep IE5 Windows Happy */
    border-right: 1px solid #a0a9a7;
    border-left: 1px solid #a0a9a7;
    border-bottom: 1px solid #a0a9a7;
    position: relative;
    width: auto;
    font-family: serif;
    font-size: 12pt;
}

#pageHeader {
    background: #6b7b91;
    border-bottom: 2px solid #818fa1;
    padding: 10px 10px;
    position: relative;
    margin-top: -1px;
    margin-bottom: -1px;
    height:60px;
    z-index: 0;
}


#pageHeader h1 {
    color: #ffffff;
    font-size: 2.5em;
    letter-spacing: 1px;
    margin: 0 0 5px;
}

#contentContainer {
    margin-left: 200px;
    margin-right: 0px;
    position: relative;
    z-index: 99;
}

#contentContainer #content {
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 10px;
}

#sidebarContainer {
    position: relative;
    margin-right: 10px;
    z-index: 100;
    float: left;
    width: 180px;
}

#sidebarContainer #sidebar {
    padding: 0px 10px 0px 10px;
    color: #505050;
    font-family: sans-serif;
    background: #eee;
}

#sidebarContainer .sideHeader {
    background: #41436d;
    color: #fff;
    padding:7px 0px 5px 15px;
    font-family:sans-serif;
    font-weight:bold;
    font-size:12px;
    letter-spacing:-0.05em;
    text-transform:uppercase;
}

#footer {
    border-top: 1px solid #eeeeee;
    margin-top: 20px;
    color: #909090;
}

#footer p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer a:link, #footer a:visited {
}

#footer a:hover, #footer a:active {
}

blockquote {
    color: #96a7bb;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

h1 {
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;
}

h4 {
    font-family: sans-serif;
}

/* Main content area unordered list styles */
#contentContainer #content ul {
}

#contentContainer #content li {
}

/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
    margin: 0px;
    padding: 0px ;
    list-style: none;
    font-size:88%;
}

#sidebarContainer #sidebar li {
}

#sidebarContainer a {
  text-decoration:none;
  display:block;
  color:#41436d;
  border-bottom:1px solid #c4c4c4;
  padding:10px 0px 10px 4px
}

#sidebarContainer a:hover {
  background-color:#fafafa;
  color:#de8329;
}


/* Table Styles */
pre, code {
    font: fixed;
    color: blue;
}
